a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {

    border: 0;

    margin: 0;

    padding: 0;

    font-size: 100%}

article, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

    display: block;

}

b, strong {

    font-weight: 700;

}

img {

    color: transparent;

    font-size: 0;

    vertical-align: middle;

    -ms-interpolation-mode: bicubic;

}

ol, ul {

    list-style: none;

}

li {

    display: list-item;
    list-style: none;

}

q {

    quotes: none;

}

q:after, q:before {

    content: '';

    content: none;

}

small, sub, sup {

    font-size: 75%}

sub, sup {

    line-height: 0;

    position: relative;

    vertical-align: baseline;

}

sub {

    bottom: -.25em;

}

sup {

    top: -.5em;

}

svg {

    overflow: hidden;

}

table {

    border-spacing: 0;

    border-collapse: collapse;

    border: none;

    padding: 0;

    width: 100%}

@font-face {

    font-family: robotoregular;

    src: url(../fonts/roboto-regular-webfont.eot);

    src: url(../fonts/roboto-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-regular-webfont.woff) format('woff'), url(../fonts/roboto-regular-webfont.ttf) format('truetype');

    font-weight: 400;

    font-style: normal;

}

@font-face {

    font-family: robotobold;

    src: url(../fonts/roboto-bold-webfont.eot);

    src: url(../fonts/roboto-bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-bold-webfont.woff) format('woff'), url(../fonts/roboto-bold-webfont.ttf) format('truetype');

    font-weight: 400;

    font-style: normal;

}

@font-face {

    font-family: robotobold_italic;

    src: url(../fonts/roboto-bolditalic-webfont.eot);

    src: url(../fonts/roboto-bolditalic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-bolditalic-webfont.woff) format('woff'), url(../fonts/roboto-bolditalic-webfont.ttf) format('truetype');

    font-weight: 400;

    font-style: normal;

}

@font-face {

  font-family: 'Roboto-Black';

  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'Roboto-Medium';

  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf')  format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');

  font-weight: normal;

  font-style: normal;

}

.clearAll {

    clear: both;

}

@font-face {

    font-family: robotoitalic;

    src: url(../fonts/roboto-italic-webfont.eot);

    src: url(../fonts/roboto-italic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-italic-webfont.woff) format('woff'), url(../fonts/roboto-italic-webfont.ttf) format('truetype');

    font-weight: 400;

    font-style: normal;

}

@font-face {

    font-family: sfu_swissbtultracompressed;

    src: url(../fonts/sfuswissbtultracompressed-webfont.eot);

    src: url(../fonts/sfuswissbtultracompressed-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/sfuswissbtultracompressed-webfont.woff) format('woff'), url(../fonts/sfuswissbtultracompressed-webfont.ttf) format('truetype');

    font-weight: 400;

    font-style: normal;

}